{% extends "base.html" %}
{% block content %}
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img src="https://picsum.photos/800/600/?random" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-1">
                            Page Renderer
                        </h1>
                        <h2 class="subtitle is-3">
                            Playwright Browser As A Service
                        </h2>
                        <br>
                        <p class="has-text-centered">
                            <a href="{{ url_for('examples') }}" class="button is-medium is-info is-outlined">
                                Learn more
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}